{% extends 'base.html' %}

    {% block content %} 
    <ul>
        <h3>Contact</h3>
        <br>
        <h4 style="color: black">Little Story Behind</h4>
        <p class='text'>I'm trained as plant biologist. My study ended up with lots of data analysis, where 
            I dealt with complex data sets and set up a pipeline to dissect the genetic control 
            of different photosynthetic types, which is beneficial to not only understand the 
            early C4 photosynthesis evolution.
            Data science bootcamp blows my horizon with machine learning, deep learning, and web 
            development. Together with my hoppy, water color painting, I developed this web 
            application to know more about my paitings as well as artworks of interest. 
        </p>
        <br>
        <a href="https://www.linkedin.com/in/meng-ying-lin-38b59b147/"><img class ="contactButton" src="/static/linkedin.jpg"></a>
        <a href="https://github.com/yingha"><img class ="contactButton" src="/static/github.jpg"></a>

    </ul>

    {% endblock %}